<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      $('button').click(function() {
        $('div').append('<h3>I am a dynamiclly gen</h3');
      });
    });
    </script>
  </head>
  <body>
    <div class="">
      <button type="button" class="button" name="button">Click Me</button>
    </div>

  </body>
</html>
