<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>
  $( function() {
    var availableTags = [
      {%for i in tags%}
      "{{i.name}}",
      {%endfor%}
    ];
    $( "#search" ).autocomplete({
      source: availableTags
    });
  } );
  </script>
  {%load staticfiles%}
  </head>
  <body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Rental App</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/user">User Dashboard</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
              <li><a href="/user/edit_profile">Edit Profile</a></li>
              <li><a href="/login/logout">Sign Out</a></li>

        </ul>
        <form class="navbar-form navbar-right" action="/search">
          <div class="input-group">
            <input type="text" class="form-control ui-autocomplete-input" id="search" placeholder="Search">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
          </div>
        </form>
    </div>
  </nav>
    <h2>Products Added in the past 30 days:</h2>
    {% for prods in 30d_products %}
    <p><img src="{{prod.image.url}}" alt=""></p>
    <p>{{prod.name}}</p>
    {% endfor %}

    <h2>All Products:</h2>
    {% for product in products %}
    <p><img src="{% if product.image %}{{product.image.url}}{%endif%}" alt=""></p>
    <p><img src="{{product.image.url}}" alt=""></p>
    <p>{{product.name}}</p>
    {% endfor %}
  </body>
</html>
