<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <style media="text/css">
        .focusedInput {
      border-color: rgba(82,168,236,.8);
      outline: 0;
      outline: thin dotted \9;
      -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
      box-shadow: 0 0 8px rgba(82,168,236,.6) !important;
    }
    </style>
    <script>
  $( function() {
    var availableTags = [
      {%for i in products%}
      "{{i.name}}",
      {%endfor%}
    ];
    $( "#search" ).autocomplete({
      source: availableTags
    });
  } );

  $( function() {
    var availableTags = [
      {%for i in tags%}"{{i.name}}",{%endfor%}
    ];
    function split( val ) {
      return val.split( /,\s*/ );
    }
    function extractLast( term ) {
      return split( term ).pop();
    }

    $( "#tags" )
      // don't navigate away from the field on tab when selecting an item
      .on( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).autocomplete( "instance" ).menu.active ) {
          event.preventDefault();
        }
      })
      .autocomplete({
        minLength: 0,
        source: function( request, response ) {
          // delegate back to autocomplete, but extract the last term
          response( $.ui.autocomplete.filter(
            availableTags, extractLast( request.term ) ) );
        },
        focus: function() {
          // prevent value inserted on focus
          return false;
        },
        select: function( event, ui ) {
          var terms = split( this.value );
          // remove the current input
          terms.pop();
          // add the selected item
          terms.push( ui.item.value );
          // add placeholder to get the comma-and-space at the end
          terms.push( "" );
          this.value = terms.join( ", " );
          return false;
        }
      });
  } );

  </script>
  {%load staticfiles%}
  </head>
  <body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Rental App</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/user">User Dashboard</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
              <li><a href="/user/edit_profile">Edit Profile</a></li>
              <li><a href="/login/logout">Sign Out</a></li>

        </ul>
        <form class="navbar-form navbar-right" action="/search">
          <div class="input-group">
            <input type="text" name="q" class="form-control ui-autocomplete-input" id="id_q" placeholder="Search">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
          </div>
        </form>
    </div>
  </nav>
  <div class="container">
    <form enctype="multipart/form-data" class="col-lg-6" method="post">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group">
        <label class="control-labelB" for="{{field.name}}">{{field.label}}</label>
        {{field}}
      </div>
      {%endfor%}
      <input type="submit" name="" class="btn btn-primary" value="Submit!">
    </form>
  </div>
  </body>
</html>
