<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Profile</title>
  </head>
  <body>
    <h1>Update Your Profile:</h1>
    {% if messages %}
    {% for message in messages %}
    <p>
      {{ message }}
    </p>
    {% endfor %}
    {% endif %}
        <div class="row">
        <div class="col-md-6 col-md-offset-3 well">
        <form class="" action="/user_dashboard_process" method="post">
          {% csrf_token %}
          username: <input type="text" name="username" value="{{users.username}}"><br>
          First Name: <input type="text" name="first_name" value="{{users.first_name}}"><br>
          Last Name: <input type="text" name="last_name" value="{{users.last_name}}"><br>
          Email: <input type="text" name="email" value="{{users.email}}"><br>
          Password: <input type="password" name="password" value="{{users.password}}"><br>
          Confirm Password: <input type="password" name="confirm_pw" value=""><br>
          <input type="submit" name="" value="Update">
        </form>
        <form class="" action="/user_dashboard" method="post">
          <input type="submit" name="" value="Back">
        </form>
      </div>
      </div>
  </body>
</html>
