<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Product Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="availability-calendar.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

    <style media="screen">
      #calendar{
        margin-left: 100px;
        padding: 10px;
        font-family:'Open Sans'; background-color:#ECF0F1;
        max-width:60%;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Rental App</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="#">Home</a></li>
          <li><a href="#">User Dashboard</a></li>
          <!-- <li class="active"><a href="#">Product details</a></li> -->
          <!-- <li><a href="#">Page 3</a></li> -->
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/user_dashboard/edit_profile/{{user.id}}">Edit Profile</a></li>
                <li><a href="#">Messages <span class="badge">3</span></a></li>
                <li><a href="/login/logout">Sign Out</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-right">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </div>
            </div>
          </form>
      </div>
    </nav>
    <div class="container">
      <h1>Product: {{item.name}}</h1>
      <p>Description: {{item.description}}</p>
      <p>Price: {{item.price}}</p>
      <p>Owner: {item.seller.first_name}</p>
    </div>
    <div id="calendar"></div>

    <!-- <div class="calendar">
      <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;hl=en&amp;bgcolor=%23ffffff&amp;src=ebot9iea6ofa4kqp4g1hprobec%40group.calendar.google.com&amp;color=%23865A5A&amp;ctz=America%2FLos_Angeles"
      style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div> -->
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="availability-calendar.js"></script>
    <script type="text/javascript">
    var unavailableDates = [
      {start: '2017-05-01', end: '2017-05-06'},
      {start: '2017-05-10', end: '2017-05-14'},
      {start: '2015-10-01', end: '2015-10-07'}
    ];
    $('#calendar').availabilityCalendar(unavailableDates);
    </script>

  </body>
</html>
